#-Main-#
pyrofork
tgcrypto
pyromod==1.5

#--Time--# 
pytz
datetime

#---IMDB---# 
bs4 
shortzy
requests
pyshorteners
git+https://github.com/Joelkb/cinemagoer

#----YT-Download----#
yt-dlp
ytthumb
youtube-dl
youtube_search
yt-dlp==2023.2.17
youtube-search-python==1.4.6

#-----Rename&Stream---#
hachoir
jinja2
humanize==4.6.0 

#------python------#
python-decouple
dnspython==2.3.0
ffmpeg-python>=0.2.0
python-dotenv==0.21.1 
opencv-python-headless==4.7.0.68

#-------Database-------#
motor==2.5.1 
umongo==3.0.1
PyLeaves==1.0.2
marshmallow==3.14.1 
pymongo[srv]==3.12.3 

#----------Others----------#
wget
wheel
ujson
ffmpeg
aiohttp
aiofiles
colorama
apscheduler
NumPy==1.26
gTTS==2.3.1
psutil==5.9.4
Pillow==9.4.0 
openai==0.25.0
speedtest==0.0.1 
telegraph==2.2.0 
googletrans==3.1.0a0
